body {
	font-family: sans-serif;
	margin: 0;

	background: white;
}

#search {
	padding: 10% 135px 25px 135px;
	font-size: large;
}
#search_box {
	border: 1px solid #aaf;
	width: 100%;
	font-size: 24px;
}
#search_buttons {
	padding-top: 15px;
	text-align: center;
}
#search_buttons table {
	border-collapse: collapse;
	margin: 0 auto;
}
#search_buttons table tr:first-child td {
	font-size: 0.85em;
	text-decoration: underline;
}
#search_buttons table td {
	text-align: center;
	padding: 10px;
}
#search_buttons table td:first-child {
	padding: 10px 0 3px 10px;
	text-align: right;
}
#search_buttons input {
	margin: 2px;
	width: 10em;
}
#search_buttons tr:nth-child(2) td {
	background-color: gainsboro;
}
#search_buttons tr:nth-child(3) td {
	background-color: mistyrose;
}
#search_buttons tr:nth-child(4) td {
	background-color: lightgoldenrodyellow;
}
#search_buttons tr:nth-child(5) td {
	background-color: paleturquoise;
}

a {
	text-decoration: none;
}
a:link {
	color: #30a4ed;
}
a:visited {
	color: #0074bd;
}
a:hover {
	color: red;
}
a:active {
	color: red;
}

#footer {
	background: white;
	border-top: 1px solid gray;
	bottom: 0;
	font-size: small;
	font-style: italic;
	padding: 5px 0 20px 20px;
	position: fixed;
	width: 100%;
}
