body {
	font-family: sans-serif;
	margin: 0;

	background: white;
}

#search {
	padding: 50px 135px 25px 135px;
	font-size: large;
}
#search_box {
	border: 1px solid #aaf;
	width: 100%;
	font-size: 24px;
}
#search_buttons {
	padding-top: 15px;
	text-align: center;
}
#search_buttons table {
	border-collapse: collapse;
	margin: 0 auto;
}
#search_buttons table td {
	text-align: center;
	padding: 10px;
	vertical-align: top;
}
#search_buttons input {
	margin: 2px;
	width: 10em;
}
#search_buttons tr:nth-child(even) td {
	background-color: blanchedalmond;
}

#archived input {
	background: gainsboro;
	color: black;
	padding: 2px;
	font-size: 0.6em;
	margin: 0;
}

#archived td {
	background: none;
	margin: 0;
}

a {
	text-decoration: none;
}
a:link {
	color: #30a4ed;
}
a:visited {
	color: #0074bd;
}
a:hover {
	color: red;
}
a:active {
	color: red;
}

#footer {
	background: white;
	border-top: 1px solid gray;
	bottom: 0;
	font-size: small;
	font-style: italic;
	padding: 5px 0 20px 20px;
	position: fixed;
	width: 100%;
}
